body, h1, h3 
{
    font-family: 'Space Grotesk', calibri;
}

p
{
    font-size: 1.1em;
    font-family: calibri;
}

section
{
    padding-top: 2em;
}

img
{
    max-width: 50%;
    justify-items: center;
}

svg
{
    color:white;
}

a
{
    color:white;
    transition: transform 0.1s ease;
}

a:hover 
{
    transform: scale(1.05); /* Increases the size of the card by 10% */
    color: #eab028;
}

.customlink {
    padding-left: 0.25em;
    transition: transform 0.3s ease; /* Ensure transition is applied */
}

.customlink:hover {
    transform: scale(1.1);
}

.nav-link
{
    transition: transform 0.3s ease;
}

.nav-link:hover
{
    color: #eab028;
    transform: scale(1.1);
}

.card
{
    transition: transform 0.1s ease;
}

.card:hover .card-header {
    background: #eab028; /* Set the desired color on hover */
    color: white;
}

.card:hover {
    transform: scale(1.05); /* Keeps the scale effect on hover */
}


.tech-icon 
{
    margin-right: 0.5em; /* Adds space between the image and text */
}

hr
{
    width: 50%;
}
