/* ---------- BODY ---------- */

body, h1, h3 
{
    font-family: 'Space Grotesk', calibri;
}

p
{
    font-size: 1.1em;
    font-family: calibri;
}

section
{
    padding-top: 2em;
}

hr
{
    width: 50%;
}

/* ---------- ---------- ------ */



/* ---------- LINKS ---------- */

a
{
    color:white;
    transition: transform 0.1s ease;
}

a:hover 
{
    transform: scale(1.05); 
    /* color: #eab028; */
}

.customlink
{
    padding-left: 0.25em;
    transition: transform 0.1s ease; 
}

.customlink:hover 
{
    transform: scale(1.05); 
    color: #eab028; 
}

.nav-link
{
    transition: transform 0.2s ease;
    display: inline-block;
}

.nav-link:hover
{
    color: #eab028;
    transform: scale(1.05);
    transform-origin: center; 
}

/* ---------- ---------- ------ */



/* ---------- CARDS ---------- */

.card
{
    transition: transform 0.1s ease;
}

.card:hover .card-header {
    background: #eab028; 
    color: white;
}

.card:hover {
    transform: scale(1.05); 
}

/* ---------- ---------- ------ */



/* ---------- LIST ---------- */

.list-group-item {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.list-group-item:hover {
    background-color: #eab028; 
    color: white; 
    transform: scale(1.05); 
}

/* ---------- ---------- ------ */



/* ---------- IMAGES ---------- */

img
{
    max-width: 50%;
    justify-items: center;
}

svg
{
    color:white;
}

.tech-icon 
{
    margin-right: 0.5em; 
}

/* ---------- ---------- ------ */

/* Resume Page TODO */