/* ---------- BODY ---------- */

body, h1, h3 
{
    font-family: 'Space Grotesk', calibri;
}

p
{
    font-size: 1.1em;
    font-family: 'Space Grotesk', calibri;
}

section
{
    padding-top: 2em;
}

hr
{
    width: 50%;
}

/* ---------- ---------- ------ */

/* ---------- BUTTON ---------- */

.buttonclass
{
    text-decoration: none;
    text-align: center;
}

/* ---------- ---------- ------ */



/* ---------- LINKS ---------- */

a
{
    color:white;
    transition: transform 0.1s ease;
}

a:hover 
{
    transform: scale(1.05); 
    /* color: #eab028; */
}

.customlink
{
    padding-left: 0.25em;
    transition: transform 0.1s ease; 
}

.customlink:hover 
{
    transform: scale(1.05); 
    color: #eab028; 
}

.nav-link
{
    transition: transform 0.2s ease;
    display: inline-block;
}

.nav-link:hover
{
    color: #eab028;
    transform: scale(1.05);
    transform-origin: center; 
}

/* ---------- ---------- ------ */



/* ---------- CARDS ---------- */

#WkExpCard,#EduCard, #ProjectsCard
{
    transition: transform 0.1s ease;
}

#WkExpCard:hover .card-header, #ProjectsCard:hover .card-header  
{
    background: #eab028; 
    color: white;
}

#EduCard:hover .card-header
{
    background: red; 
    color: white;
}


#WkExpCard:hover, #EduCard:hover,#ProjectsCard:hover {
    transform: scale(1.05); 
}


.card-img-top
{
    max-width: 100%;
}



/* ---------- ---------- ------ */



/* ---------- LIST ---------- */

.list-group-item {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.list-group-item:hover {
    background-color: #eab028; 
    color: white; 
    transform: scale(1.05); 
}

/* ---------- ---------- ------ */



/* ---------- IMAGES ---------- */

img
{
    max-width: 50%;
    justify-items: center;
}

svg
{
    color:white;
}

.tech-icon 
{
    margin-right: 0.5em; 
}

/* ---------- ---------- ------ */

/* Change background color on hover */
.dropdown-item:hover {
    background-color: #eab028;
    color: white; 
    overflow: hidden;
}

.dropdown-item.active {
    background-color: #d47a2f;  /* Change to your desired active background color */
    color: white;  /* Optional: Change the text color when active */
}

/* Hide overflow by default */
.dropdown-menu {
    overflow: hidden;
}

.dropdown-item {
    overflow: hidden;
}

/* Ensure the sub-dropdown aligns to the right */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;  /* Positions the sub-dropdown to the right */
  margin-left: 0.1rem;  /* Optional: slight space between parent and sub-dropdown */
  display: none;  /* Hide by default */
}